.lead__caption {
  font-size: 10px;
  line-height: 14px;
  color: #FFF;
  font-weight: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-top: 8px;
  margin: 0 0 0 148px;
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .lead__caption {
    margin-left: 48px;
  }
}

/* Посмотрел отсупы в макете для 320 и 768, вроде все также*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}